// = - - - - - - - - - - - - - - - - - - - - - - - - - =  //
// = - - - - - - -  main . S C S S - - - - - - - - = //
// = - - - - - - - - - - - - - - - - - - - - - - - - - =//

@import "base";

.master-body {
  background-color: #f8f8f8;
  max-width: 100%;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  color: color(black);
  min-height: 1000px;

  .header-frame {
    width: 100%;
    min-height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    @include bg-gradient;
    overflow: hidden;

    &:after {
      position: absolute;
      content: "";
      width: 32vw;
      height: 80%;
      right: 0;
      bottom: -20px;
      background-image: url("../images/header-background.png");
      background-size: 100%;
    }
  }

  .master-frame {
    position: relative;
    margin-top: -40px;
    width: calc(100% - 0px);

    .left-panel {
      width: 70px;
      height: 100vh;
      float: left;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 4;
      transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);

      .main-menu {
        background: color(white);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1), 0 3px 20px rgba(0, 0, 0, 0.1);
        transition: all 0.5s ease-in-out;

        .logo-icon {
          width: 40px;
          height: 45px;
          margin: 40px auto;
          background-image: url("../images/logo-1.png");
          background-size: cover;
          background-position: left;
          transition: all 0.4s ease-in-out;
          z-index: 6;
          position: relative;

          &.submenu-active {
            margin-left: 20px !important;
            width: 180px !important;
            height: 40px !important;
            transition: all 0.5s ease-in-out;
          }
        }

        ul.menu-list {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            width: 100%;
            text-align: center;
            padding: 5px 0px;
            margin: 20px 0;
            cursor: pointer;
            position: relative;
            transition: all 0.2s ease-in-out;
            box-shadow: inset 5px 0px color(green);
            color: color(green);

            &.inactive {
              box-shadow: inset 5px 0px transparent;
              color: color(black);
            }

            &:hover {
              color: color(green);
              background: rgba(55, 55, 55, 0.05);
              transition: all 0.2s ease-in-out;
            }

            i {
              font-size: 20px;
            }

            .caption {
              opacity: 0;
              position: absolute;
              width: 100%;
              left: 0;
              top: 15px;
              font-family: $opensans;
              font-weight: 400;
              font-size: 0.8em;
              transition: all 0s ease-in-out;
            }
          }
        }
      }

      &.submenu-active {
        width: 110px;
        transition: all 0.2s linear;
        box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1), 0 3px 20px rgba(0, 0, 0, 0.1);

        .main-menu {
          box-shadow: 0 0 rgba(0, 0, 0, 0);
          transition: all 0.4s ease-in-out;

          &:before {
            position: absolute;
            right: 0px;
            top: 0;
            height: 119px;
            width: 2px;
            background: color(white);
            content: "";
            z-index: 2;
          }

          ul.menu-list {
            li {
              border-top: 1px solid rgba(55, 55, 55, 0.07);
              padding: 20px 0;
              margin: 0px 0;

              &:last-child {
                border-bottom: 1px solid rgba(55, 55, 55, 0.07);
              }
              i {
                transform: scale(1.1);
              }

              .caption {
                opacity: 1;
                top: 5px;
                position: relative;
                transition: all 0.4s ease-in-out;
              }
            }
          }
        }
      }

      .sub-menu {
        width: 220px;
        height: 100vh;
        background: color(white);
        position: absolute;
        z-index: 1;
        left: 110px;
        top: 0;
        transform: translateX(-120%);
        transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);

        &.submenu-active {
          transform: translateX(0%);
          box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1),
            0 3px 20px rgba(0, 0, 0, 0.1);
          transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
        }

        .inner {
          padding: 20px;
          border-top: 1px solid rgba(55, 55, 55, 0.07);
          min-height: 100%;
          border-left: 1px solid rgba(55, 55, 55, 0.07);
          margin-top: 120px;
        }

        .submenu-tab {
          width: 100%;
          position: relative;

          ul {
            margin: 0;
            padding: 0;
            position: relative;

            li {
              width: 100%;
              padding: 10px 5px;
              list-style: none;
              font-size: 0.85em;
              transition: all 0.2 linear;

              a {
                &.active {
                  color: color(green);
                }
              }

              i {
                margin-right: 5px;
              }

              &.active {
                color: color(green);
              }

              &:hover {
                opacity: 0.6;
              }
            }
          }
        }
      }
    }

    .right-panel {
      @include r-p-width;
      min-height: 600px;
      padding-bottom: 40px;
      margin-left: 90px;
      // padding-top: 200px;
      padding-top: 70px;
      position: relative;
      float: right;
      z-index: 1;
      transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);

      &.submenu-active {
        @include r-p-width-a;
        transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
      }

      .breadcrumb {
        margin-top: 50px;
        margin-bottom: 30px;
        font-family: $opensans;

        .page-title {
          font-size: 25px;
          color: $white;
          text-shadow: 1px 1px 2px rgba(55,55,55,0.2);
        }

        .page-info {
          font-size: 15px;
          color: $white;

          .breadcrumb-item {
            display: inline-block;
            margin-right: 10px;

            &:not(:last-child) {

              &:after {
                font-family: 'Font Awesome\ 5 Free';
                font-style: normal;
                font-feature-settings: normal;
                font-variant: normal;
                line-height: 1;
                text-decoration: inherit;
                text-transform: none;
                content: "\f054";
                font-weight: 900;
                font-size: 10px;
                padding: 3px 5px;
                border-radius: 50px;
                background-color: #fff;
                color: $color-success;
                vertical-align: middle;
                margin-left: 10px;
              }
            }
          }
        }
      }  
    }
  }

  // login styling
  &.login {
    min-height: auto;
    height: 100vh;
    position: relative;

    .background-frame {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      @include bg-gradient;
      overflow: hidden;

      &:after {
        position: absolute;
        content: "";
        width: 45vw;
        height: 45vh;
        right: 0;
        bottom: 0;
        background-image: url("../images/header-background.png");
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }

    .master-frame {
      height: 100vh;
      width: 100%;
      position: relative;
      margin-top: 0;

      .master-inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        min-height: 450px;
        min-width: 350px;
        border-radius: 16px;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0,0,0,0.08);
        padding: 35px 20px;

        .login-logo {
          height: 45px;
        }

        .form {
          position: relative;
          margin: 45px 0;

          .rememberMe-wp {
            margin: 15px 0;

            .checkbox-control {

              label {
                color: #62626280;
                text-transform: none;

                &:before {
                  border: 2px solid #62626260;
                }

                &:after {
                  top: 2px;
                }
              }
            }
          }

          .button-wp {
            margin: 25px 0;
          }
        }
      }
    }
  }
}
